/venv
.vscode/settings.json
/.vscode
secrets.py
__pycache__/secrets.cpython-38.pyc
__pycache__/forms.cpython-38.pyc
__pycache__/playerName.cpython-38.pyc
__pycache__/secrets.cpython-38.pyc
__pycache__/forms.cpython-38.pyc
__pycache__/secrets.cpython-38.pyc
__pycache__/forms.cpython-38.pyc
__pycache__
