/venv
.vscode/settings.json
/.vscode
secrets.py
__pycache__/secrets.cpython-38.pyc
__pycache__/forms.cpython-38.pyc
__pycache__/playerName.cpython-38.pyc
__pycache__/secrets.cpython-38.pyc
__pycache__/forms.cpython-38.pyc
__pycache__/secrets.cpython-38.pyc
__pycache__/forms.cpython-38.pyc
__pycache__
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/client/.pnp
/client/.pnp.js

# testing
/client/coverage

# production
/client/build

# misc
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

*.egg-info
*.pot
*.py[co]
.tox/
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/