{% extends "layout.html" %}
{% block content %}
<div class="container">
    <!-- <div class="text-center">
        <div class="input-group">
            <div class="form-outline">
                <input id="search-input" type="search" id="form1" class="form-control" />
                <label class="form-label" for="form1">Search</label>
            </div>
            <button id="search-button" type="button" class="btn btn-success">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div> -->
    <form method="POST" action="">
        {{form.hidden_tag()}}
        <fieldset>
            <div class="form-group">
                {{form.name.label(class="form-control-label")}}
                {{form.name(class="form-control from-control-lg")}}
            </div>
        </fieldset>
        <div class="form-group">
            {{form.submit(class="btn btn-outline-info")}}
        </div>
    </form>

    {% for player in players %}
    <div class="card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src={{player.image_path}} class="img-fluid" />
            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{player.player_name}}</h5>
            <p class="card-text">
                {{player.nationality}}
            </p>
            <form action="" method="POST">
                <input type="hidden" name="player_id" value={{player.player_id}}>
                <input type="submit" name="submit_button" value="Select +" class="btn btn-success">
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}